body {
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}

nav {
    background-color: #444;
}

ul {
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}
