/* modern-javascript.css */

#wrapper {
    background-color: #5bc0de;
    padding: 20px;
    text-align: left;
}

h4 {
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}

h1 {
    color: #000;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

ul.unordered-list {
    list-style-type: disc;
    color: #000;
    padding-left: 20px;
    margin: 0;
}

ul.unordered-list li {
    font-size: 18px;
    line-height: 1.4;
}

hr {
    border: 2px solid #fff;
    margin: 20px 0;
}

footer {
    color: #000;
    font-size: 14px;
}
