.container-grid {
    display: grid;
    /*grid-template-columns: auto auto auto;*/ 
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    /*grid-template-rows: 100px 100px 100px 100px 100px;*/
    grid-auto-rows: 100px;
    
  } 
  
  .nestedgrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 10px;
    grid-auto-rows: 150px;
    
  } 
  
  img {
    border: 1px solid white;
    width:100%;
    height:100%;
    
  } 
  
  
  .section1{
    grid-column: 1;
    grid-row: 1;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section2{
    grid-column: 2;
    grid-row: 1;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section3{
    grid-column: 3;
    grid-row: 1;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section4{
    grid-column: 1;
    grid-row: 2;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section5 {
    grid-column: 2;
    grid-row: 2;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section6 {
    grid-column: 3;
    grid-row: 2;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section7 {
    grid-column: 1;
    grid-row: 3;
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 20px;
  }
  
  .section8 {
    grid-column: 2;
    grid-row: 3;
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section9 {
    grid-column: 3;
    grid-row: 3;
    background-color: purple;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section10 {
    grid-column: 1 / 4;
    grid-row: 4 / 6;
    background-color: green;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section11 {
    grid-column: 1 / 4;
    grid-row: 6 / 8;
    background-color: green;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .section12 {
    grid-column: 4 / 6;
    grid-row: 1 / 8;
    background-color:plum;
    color: black;
    text-align: center;
    font-size: 20px;
  }