html{
    font-family: "Arial", sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
}

body{
    height: 100vh;
    width: 100vw;
}

/*------------HEADER----------*/
header{
    display: flex;
    margin: 20px 60px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.list-items {
    display: flex;

}
.list-items li{
    list-style: none;
    padding: 0 15px;
}

/*------------MAIN----------*/

/*------------first section with pic----------*/

main .wrapper {
    width: 100%;
    height: 700px;
    padding: 0 80px;
    background-color: #85dcff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

main .wrapper .img-wrapper {
    height: 100%; 
    width: 100%;
    
}
main .wrapper .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: 100px;
}

main .wrapper .info-first {
  text-align: left;
}

main .wrapper .info-first h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

main .wrapper .info-first p {
    font-size: 26px;
    margin-bottom: 50px;
}

main .wrapper .info-first .buttons {
    display: flex;
    gap: 30px;
}

main .wrapper .info-first .buttons .donate {
    background-color: white;
    color: #000;
    border-radius: 10px;
    border: 2px 0px 1px 0px; 
    overflow: hidden;
    padding: 30px 80px;
}

main .wrapper .info-first .buttons .join {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px 0px 1px 0px; 
    overflow: hidden;
    padding: 30px 80px;
}

/*-------------------section2--with icons--------*/

.wrapper2{
    background-color: #ffffff;
    width: 100%;
    height: 700px;
    padding: 0 80px;
}

.wrapper2 h2 {
    
    font-size: 30px;
    margin: 40px;
    text-align: center;
    font-weight: 700;
    

}

.wrapper2 p {
    font-size: 22px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    width: 35%;
    margin: 0 auto;
}

.wrapper2 .sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

.wrapper2 .sections {
   padding: 50px 0px;
}

.sections .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    max-width: 600px;

}
.sections .section h2 {
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
    font-weight: 700;
    width: 75;
}
.sections .section p{
    font-size: 22px;
    margin:0;
    text-align: center;
    font-weight: 300;
    width: 75%;

}
.sections .section .img-wrapper {
    color: #85dcff;
    width: 150px;
    height: 150px;
    font-size: 150px; 
}
.sections .section .img-wrapper img {
    object-fit: contain;
}

/*-------------------section3--blue-------*/

.wrapper3{
    height: 700px;
    background-color: #85dcff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}
.wrapper3 h2{
    text-align: center;
}

.wrapper3 .mission {
    width:20% ;
    justify-content: center;
    align-self: center;
}

.wrapper3 .list-items {
    display: flex;
    justify-content: center;
    align-self: center;
    gap:50px;
}


.wrapper3 .list-column {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.wrapper3 .list-column li {
    margin-bottom: 20px;
}
.wrapper3 button{
    background-color: #000000;
    color: white;
    border-radius: 12px;
    padding: 20px 0;
}





